// Example of project-name.scss
// Define variables to override default ones
$primary-color: #ec962e;
$dark-color: #3e396b;

// Import full Spectre source code
@import "../node_modules/spectre.css/src/spectre";


.post-type-archive-wppt_projects {

    .btn {
      height: fit-content;
    }
    .project {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }

    .project.hidden {
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      display: none;
    }
    
}