$enable-rounded: false;
$primary: #392F5A;
$secondary: #F092DD;
$success: #FFAFF0;
$success2: #EEC8E0;
$info: #A8C7BB;
$warning: #EEC8E0;
$danger: #FFAFF0;
$primary-light: #7BE0AD;
$secondary-light: #AEE5D8;
$success-light: #E7E5E5;
$success2-light: #E5D0E3;
$info-light: #E0B0D5;
$warning-light: #E5D0E3;
$danger-light: #E0B0D5;
